<!DOCTYPE html>
<html lang="zxx">
<head>
	<title>FitForever.com | Fitness Apparels</title>
	<link rel="shortcut icon" href="/static/Image/logo1.png">
	<meta charset="UTF-8">
	<meta name="description" content=" Divisima | eCommerce Template">
	<meta name="keywords" content="divisima, eCommerce, creative, html">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- Google Font -->
	<link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300,300i,400,400i,700,700i" rel="stylesheet">



    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700,900" rel="stylesheet">
    <link rel="stylesheet" href="/static/Style/blog.bootstrap.css">
    <link rel="stylesheet" href="/static/Style/blog.font-awesome.min.css">
    <link rel="stylesheet" href="/static/Style/blog.owl.carousel.min.css">
    <link rel="stylesheet" href="/static/Style/blog.owl.theme.default.min.css">
    <link rel="stylesheet" href="/static/Style/blog.style.css">
    <link rel="stylesheet" href="/static/Style/blog.responsive.css">
    <link rel="stylesheet" href="static/Style/bootstrap2.min.css"/>
	<link rel="stylesheet" href="/static/Style/font-awesome.min.css"/>
	<link rel="stylesheet" href="/static/Style/flaticon.css"/>
	<link rel="stylesheet" href="/static/Style/slicknav.min.css"/>
	<link rel="stylesheet" href="/static/Style/jquery-ui.min.css"/>
	<link rel="stylesheet" href="/static/Style/owl.carousel.min.css"/>
	<link rel="stylesheet" href="/static/Style/animate.css"/>
	<link rel="stylesheet" href="/static/Style/style2.css"/>

</head>

<body>

<!-- Header section -->
	<header class="header-section">
		<div class="header-top">
			<div class="container">
				<div class="row">
					<div class="col-lg-2 text-center text-lg-left">
						<!-- logo -->
						<a href="{% url 'index' %}" class="site-logo">
							<img src="/static/Image/logo1.png" height="80" alt="">
						</a>
					</div>
					<div class="col-xl-6 col-lg-5">
						<form class="header-search-form" method="GET" action="search">
							<input type="text" placeholder="Search on Fit Forever ...." name="q" value="{{ request.GET.q }}">
							<button><i class="flaticon-search"></i></button>
						</form>
					</div>
					<div class="col-xl-4 col-lg-5">
						<div class="user-panel">
							<div class="up-item">
								{% if 'user_id' in request.session %}
								<a href="{% url 'account' %}"><i class="flaticon-profile"></i></a>
								<a href="{% url 'account' %}">Hello, <strong>{{request.session.last_name}}</strong></a>
								&nbsp
								<a href="{% url 'logout' %}">Logout</a>
								{% else %}
								<br>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="{% url 'login' %}">Log In</a>&nbsp;/&nbsp;
								<a href="{% url 'signup' %}">Create Account</a>
								{% endif %}

							</div>
							{% if 'user_id' in request.session %}
							<div class="up-item">
								<div class="shopping-card">
									<i class="flaticon-bag"></i>
									<span>{{ count }}</span>
								</div>
								<a href="{% url 'cart' %}">Shopping Cart</a>
							</div>
							{% endif %}
						</div>
					</div>
				</div>
			</div>
		</div>
		<nav class="main-navbar">
			<div class="container">
				<!-- menu -->
				<ul class="main-menu">
					<li><a href="{% url 'index' %}">Home</a></li>
					{% if 'user_id' in request.session %}
					<li><a href="{% url 'account' %}">Account</a>
						<ul class="sub-menu">
                            <li><a href="{% url 'account' %}">View Profile</a></li>
							<li><a href="{% url 'cart' %}">Your Cart</a></li>
                    		<li><a href="{% url 'display_orders' %}">Your Orders</a></li>
							<li><a href="{% url 'edit_profile' %}">Edit Profile</a></li>
                            <li><a href="{% url 'logout' %}">Logout</a></li>

						</ul>
					</li>
					{% endif %}

					{% for category in categories %}
						{% if category.sub|length != 0  %}

					<li><a href="{% url 'category' category.cat.category_id %}">{{category.cat.name}}</a>
						<ul class="sub-menu">

							{% for sub in category.sub %}

							<li><a href="{% url 'subcategory' category.cat.category_id sub.subcategory_id %}">{{sub.name}}</a></li>

							{% endfor %}

						</ul>
					</li>

					{% else %}

					<li><a href="{% url 'category' category.cat.category_id %}">{{category.cat.name}}</a></li>
					{% endif %}

					{% endfor %}


					{% if 'user_id' in request.session %}
					<li><a href="{% url 'cart' %}">Your Cart</a></li>
					<li><a href="{% url 'blog' %}">Blog</a>
						<ul class="sub-menu">
							<li><a href="{% url 'blog' %}">Read Blogs</a></li>
							<li><a href="{% url 'write' %}">Write a Blog</a></li>
						</ul>
					</li>
					<li><a href="{% url 'contact' %}">Contact Us</a></li>
					{% else %}
					<li><a href="{% url 'blog' %}">Blog</a>
						<ul class="sub-menu">
							<li><a href="{% url 'blog' %}">Read Blogs</a></li>
							{% if 'user_id' in request.session %}
							<li><a href="{% url 'write' %}">Write a Blog</a></li>
							{% else %}
							<li><a href="{% url 'login' %}">Login to write a Blog</a></li>
							{% endif %}
						</ul>
					</li>
					<li><a href="{% url 'contact' %}">Contact Us</a></li>
					{% endif %}
				</ul>
			</div>
		</nav>
	</header>
	<!-- Header section end -->
            <br>
             <br>
				<div class="title">  Recent Posts.</div>
				<br>

    <div class="wrapper">
        <section class="blog-post-area">
            <div class="container">
                <div class="row">
                    <div class="blog-post-area-style">
                        <br>
                        <br>

						{% for blog in blog %}

						<div class="col-md-12">
							<div class="single-post-big">
								<h3><a href="#">{{ blog.title }}</a></h3><br>
                                    <div class="big-image">
                                        <img src="/static/Image/{{ blog.image }}" alt="" height="500">
                                    </div>
                                    <div class="big-text">
										<br>
										<br>
                                        <p>{{ blog.caption }}</p>
                                        <h4><span class="date">{{ blog.date}}</span><span class="author"> &nbsp Posted By: <span class="author-name">{{ blog.user }}</span></span>
                                        </h4>
                                        <br>
                                        <br>
                                    </div>
							</div>
						</div>
						{% endfor %}
                	</div>
            	</div>
			</div>
            <br>
            <br>

	<!-- Footer section -->
	<section class="footer-section">
		<div class="container">
			<div class="footer-logo text-center">
				<a href="index.html"><img src="/static/Image/logo1.png" height="150" alt=""></a>
			</div>
			<div class="row">
				<div class="col-lg-3 col-sm-6">
					<div class="footer-widget about-widget">
						<h2></h2>
						<p>Find the latest athletic wear and fitness apparels on FitForever.<br> Also choose from our all new range of Supplements.<br> Get all your fitness needs at Fitforever. </p>
						<img src="/static/Image/cards.png" alt="">
					</div>
				</div>
				<div class="col-lg-3 col-sm-6">
					<div class="footer-widget about-widget">
						<h2></h2>
						<ul>
							<li><a href="{% url 'contact' %}">Contact Us</a></li>
							<li><a href="{% url 'blog' %}">Blog</a></li>
							<li><a href="#">Category</a></li>
							<li><a href="{% url 'cart' %}">Cart</a></li>


						</ul>
						<ul>
							<li><a href="#">Men</a></li>
							<li><a href="#">Women</a></li>
							<li><a href="#">Supplements</a></li>
							<li><a href="#">Shoes</a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-3 col-sm-6">
					<div class="footer-widget contact-widget">
						<h2></h2>
						<div class="con-info">
							<p>Fit Forever Ltd </p>
						</div>
						<div class="con-info">
							<p>Whitefield main road, Bangalore, Karnataka, India </p>
						</div>
						<div class="con-info">
							<p>+91 6360753920</p>
						</div>
						<div class="con-info">
							<p>fitforever@gmail.com</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="social-links-warp">
			<div class="container">
				<div class="social-links">
					<a href="https://www.instagram.com/" class="instagram"><i class="fa fa-instagram"></i><span>instagram</span></a>
					<a href="https://in.pinterest.com/" class="pinterest"><i class="fa fa-pinterest"></i><span>pinterest</span></a>
					<a href="https://www.facebook.com/" class="facebook"><i class="fa fa-facebook"></i><span>facebook</span></a>
					<a href="https://twitter.com/" class="twitter"><i class="fa fa-twitter"></i><span>twitter</span></a>
					<a href="https://www.youtube.com/" class="youtube"><i class="fa fa-youtube"></i><span>youtube</span></a>

				</div>

			</div>
		</div>
	</section>
	<!-- Footer section end -->

    <script src="/static/js/blog1.js"></script>
    <script src="/static/js/blog2.js"></script>
    <script src="/static/js/blog4.js"></script>
    <script src="/static/js/blog6.js"></script>
</body>

</html>
